@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #101214;
  color: #F2F4F5;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
